{% extends "main.html" %}

{% block content %}
    <h2>Report for <b>{{mnemo}}</b></h2>

    Title: {{title}} <br/>
    Lecturer(s): {{tutor}} <br/>
    Type:  {{type}} <br/>
    {{calendar.events|length}} events <br/>


    <hr>    
    <h5>CSV format</h5>
    <table border="1">
      <tr>
        <td>
        {% for event in events_csv %}
              {{ event|escape }}</br>
        {% endfor %}
       </td>
      </tr>
    </table>

    <hr>

    <h5>iCal format</h5>
    <table border="1">
        <tr>
        <td>

        {% for event in events_ical %}
              {{ event|escape }}</br>
        {% endfor %}
    </td>
    </tr>
    </table>

    <a href="/">Back</a>
{% endblock %}