{% extends "main.html" %}

{% block title %}
       Summary for course {{mnemo}} | Gehol Importer
{% endblock %}

{% block content %}

    <div class="span-15">
        <h3>We fetched some information for  <strong>{{mnemo}}</strong>  from this <a href="{{gehol_url}}">URL</a>.</h3>

        We found the schedule for the following course:
        <div style="padding-left:32px;padding-top:16px;">
            <i>Title: </i>{{title}} <br/>
            {% if tutor %}
               <i>Lecturer(s):</i> {{tutor}} <br/>
            {% else %}
                <i>No lecturer information was found</i><br/>
            {% endif %}
        </div>


        <br/> <br/>
        
        <h3>We can generate the following files for you:</h3>

        <div class="box" style="text-align:center">
            <h3><a href="{{ical_url}}">{{mnemo}}.ics</a></h3>
            <div class="quiet" style="font-style:italic;">  {{caption}}</div>
        </div>

        <p>
            Click this link to download an <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> file with
            events for this course.
            iCalendar files can be opened with
            Apple iCal, Microsoft Outlook and Mozilla Sunbird. This link can also be imported or added as a live url
            in Google Calendar.
        </p>


        <br/><br/>
        <div class="box" style="text-align:center">
            <h3><a href="{{csv_url}}">{{mnemo}}.csv</a></h3>
            <div class="quiet" style="font-style:italic;">{{caption}}</div>
        </div>
        <p>
            Click this link to download a CSV file with the events for this course. This file can be imported in
            Google Calendar.
        </p>
        <br/>
        <p>
            <strong>Important reminder:</strong> The files you download and import from this service are frozen snapshots
            taken from the GeHoL service. These files will contain schedules as they appear on GeHoL, at the time you
            clicked the download link.
            We hope you find it useful, but we won't be able to notify you of possible schedule changes if they occur.
            We have no technical mean to do so.

            <strong>To be notified of schedule changes, don't forget to check your official faculty announcements.</strong>
            
        </p>
    </div>
{% endblock %}