{% extends "main.html" %}

{% block title %}
       Summary for course {{mnemo}} | Gehol Importer
{% endblock %}

{% block content %}

    <div class="span-15">
        <h3>We fetched some information for  <strong>{{mnemo}}</strong>  from this <a href="{{gehol_url}}">URL</a>.</h3>

        We found the schedule for the following course:
        <div style="padding-left:32px;padding-top:16px;text-align:center;">

            <h3><em>{{title}}</em></h3>
            {% if tutor %}
               <i> {{tutor}} </i>
            {% else %}
                <i>No lecturer information was found</i>
            {% endif %}
        </div>


        <br/> <br/> <br/> <br/>
        


        {% if has_events %}
            <h3>We can generate the following file for you:</h3>
            <div class="box" style="text-align:center">
                <h3><a href="{{ical_url}}">{{mnemo}}.ics</a></h3>

                <div class="quiet" style="font-style:italic;">
                    Schedule from {{ start_time }} to {{ end_time }}.
                </div>
            </div>

            <p>
                Click this link to download
                an <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a>
                file with events for this course.
                iCalendar files can be opened with
                Apple iCal, Microsoft Outlook and Mozilla Sunbird.
            </p>
            <p>
              Alternatively, you can also copy this link and add it
              as a <a href="/questions#subscribe">live url
              subscription</a> in Google Calendar and Apple iCal.
            </p>
        {% else %}
            <h3>We could have generated the following file for you:</h3>
            <div class="box" style="text-align:center">
                <h3>{{mnemo}}.ics</h3>
            <div class="quiet" style="font-style:italic;">
                But this course appears to have no events between
                {{ start_time }} and {{ end_time }}. <br/>
                Come back for the second term.

            </div>
        </div>
        {% endif %}





        <br/><br/>
        <!--div class="box" style="text-align:center">
            <h3><a href="{{csv_url}}">{{mnemo}}.csv</a></h3>
            <div class="quiet" style="font-style:italic;">{{caption}}</div>
        </div>
        <p>
            Click this link to download a CSV file with the events for
            this course. This file can be imported in Google Calendar.
        </p-->

        <p>
            <strong>Important reminder :</strong> The files you
            download and import from this service are 
            <a href="/questions#files">frozen snapshots</a>
            taken from the GeHoL service.
            <strong>To be notified of schedule changes, don't forget
            to check your official faculty announcements.</strong>
        </p>

    </div>
{% endblock %}
