{% extends "main.html"  %}

{% block title %}
        Gehol Importer
{% endblock %}

{% block content %}
        
    <div class="span-15">
        <h3>You want the schedule for a specific course: </h3>

        <form action="/redirect" method="post">
            <fieldset style="border:none">
                <label for="course_mnemo">Put the 8 characters (5 letters, 3 numbers) course mnemonic in the input box below:</label>
                <br/>
                <input type="text" class="text" name="course_mnemo" id="course_mnemo" style="width:100%;"/>
                <div style="text-align:center">
                    <input type="submit" value="Get schedule"/>
                </div>
            </fieldset>
        </form>

        <h3>Latest requests:</h3>
        <ul>
            {% for course in last_courses %}
               <li><a href="/course/{{ course.content|escape }}">{{ course.content|escape|upper }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <br/><br/>
    <hr/>
    <br/><br/>


    <div class="span-15">
        <h3>You're a student, and you want your schedule for an entire term or an exam session: </h3>

        <form action="/redirect" method="post">
            <fieldset style="border:none">
                <label for="gehol_url">Paste the complete GeHoL URL for your schedule in the input box below (<a href="/questions#geholurl">Wait, what?</a>):</label>
                <br/>
                <input type="text" id="gehol_url" name="gehol_url" class="text" style="width:100%"/>
                <div style="text-align:center"><input type="submit" value="Get schedule"/></div>

            </fieldset>
        </form>

        <h3>Latest requests:</h3>
        <ul>
        {% for studentset in last_studentsets %}
           <li>
            <a href="{{studentset.url}}">{{ studentset.title|escape }}</a>
           </li>
        {% endfor %}
        </ul>
        <br/><br/>
    </div>

{% endblock %}