<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/screen.css"  media="screen, projection"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/plugins/buttons/screen.css" media="screen, projection">
  <title>Gehol Import</title>
</head>
  <body>
    <div class="container">
        <!-- header-->
        <div class="span-24 last">
        <div id="banner"
        <!--span style="font-size: 32pt"-->
            <b><a href="/"> Gehol Importer </a></b>
        <!--/span-->
        </div>
        <hr>
        </div>


        <!-- content -->
        <div class="span-15 colborder">
      
        {% block content %}{% endblock %}
        </div>


        <!-- sidebar -->
        <div class="span-8 last">
          <!-- About -->
          <h3>About</h3>
          <div class="box">
              <p>
              <a href="http://164.15.72.157/GeHoL/horaire_cours.php">GeHOL</a> is the scheduling system used at
              <a href="http://www.ulb.ac.be">Brussels University.</a>
              <br/>
            <a href="/">Gehol Importer</a> is a tool to convert GeHOL queries into something usable by calendar softwares such as
              <a href="http://www.google.com/calendar">Google Calendar</a>,
              <a href="http://www.apple.com/macosx/what-is-macosx/mail-ical-address-book.html">Apple iCal</a>,
              <a href="http://www.mozilla.org/projects/calendar/sunbird/">Mozilla Sunbird</a>,
              <a href="http://office.microsoft.com/en-us/outlook/">Microsoft Outlook.</a>
              </p>
              <p>
                  This service is still under development. We will try to keep the core functionality running, but you
                  are likely to experience changes as we add features and improve usability.
              </p>
          </div>

          <!--status-->
          <h3>GeHOL Status</h3>
          <div class="box">
            {% if gehol_status %}
                <span style="vertical-align:top;">
                <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/>
                Everything shiny, cap'n!
                </span>
            {% else %}
                <span style="vertical-align:top;">
	            <img src="/stylesheets/blueprint/plugins/buttons/icons/cross.png" alt=""/>
                GeHOL server is offline.
                    </span>
                <br/>
                Relax and try again later. There is nothing we can do right now.
            {% endif %}

            <br/><br/>
            <span style="text-align:right; font-style:italic;font-size:smaller;">
                 Last updated : {{ last_status_update }} </span>
          </div>

          <!-- contact -->
            <!--h3>Contact</h3>
            <div class="box">
              <p>
                  Issues and suggestions should be reported on our
                  <a href="https://bitbucket.org/odebeir/geholimportapp/issues?status=new&status=open">bitbucket issue tracker.</a>
              </p>
            </div-->
        </div>



        <!--footer-->
        <div class="span-24 last">
            <div style="text-align: center;">
          <hr>
          <p>
               Painless layout made possible through the
              <a href="http://www.blueprintcss.org/">Blueprint CSS framework</a>
              <br/>
              Powered by <a href="http://code.google.com/appengine/">Google App Engine</a>
          </p>
          </div>
        </div>
    </div>
  </body>
</html>
