{% extends "main.html" %}
        
        
{% block title %}
        Interesting questions | Gehol Importer
{% endblock %}

        
{% block content%}
<div class="span-15">
<br/><br/>

    <h3>Where do you get your data from and why should I trust the schedules I get from this service?</h3>
    <p>We fetch the data directly from the GeHoL service. The <a href="http://en.wikipedia.org/wiki/HTML">HTML</a>
        content is then parsed using the popular <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> python library.
        Events are then created and converted to <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> or
        <a href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> files.
        As far as we're concerned, these files are just another way to present the exact same information.
    </p><p>
        If you won't take our word for it, you can have a look at the code of our underlying library on this
        <a href="http://bitbucket.org/sevas/geholimport">bitbucket repository</a>.
        You can even contribute, if you think it's missing something.
        The code for this entire web application should be released under the same terms, as soon as possible.
    </p>
    <br/>


    <h3 id="geholurl">What do you mean by <i>"complete GeHoL URL"</i> ? </h3>
    <p>
        This service can get you two types of schedules. The first one is per-course schedule. Using the course mnemonic,
        we can easily reconstruct the complete URL and fetch the data for you.
        The second type of schedules, however, is problematic, and we need a little work on your part to generate the iCalendar files.
    </p>
    <p>
        You'll need to go <a href="http://164.15.72.157/GeHoL/horaire_anet.php">here</a> and select the values of interest as you normally would.
        The first two values are mandatory. The third one should be selected only if it makes sense to you. The fourth value won't be used, as we will
        generate events for the whole term. At the end, you should get something like this:

    <p>
        <a href="/media/Horaires.png"><img src="/media/Horaires.png" width="100%" alt="Get yourself a GeHoL URL, for awesome superpowers" /></a>
    </p>
    <p>
        Right click on the generated URL and copy it.
        Come back to our main page, paste this URL in the input box, click the <b>Get Schedule</b> button:
    </p>
    <p>
        <a href="/media/GeholImporter.png"><img src="/media/GeholImporter.png" width="100%" alt="Get yourself a GeHoL URL, for awesome superpowers" /></a>

    </p>


    <br/>
    <h3>Something went wrong, what can I do? </h3>
    <p>
        We tried to test this service with many different kind of schedules, from every faculty.
        However, parsing that kind of HTML is very fragile. Even more so when it sometimes comes back with incomplete data.
        We will soon add some sort of feedback strategy, so you can report unsuccessful queries.
    </p>



    <br/>
    <h3>The GeHoL server is down, now what?</h3>
    <p>
        We have no control over that server. Sometimes it gets disconnected from the internet with no indication of what is going on.
        We try at least to show it clearly in the sidebar on the right.
    </p>


    <br/>
    <h3>The layout of this site looks broken in Internet Explorer</h3>
    <p>
        Yes. Yes it does. And we give up trying to fix it.

        You probably should not explore the internet with that anyway, and try one of the
        <a href="http://www.google.com/chrome/intl/en/landing_chrome.html?hl=en">many</a>
        <a href="http://www.mozilla.com/en-US/firefox/">lovely</a>
        <a href="http://www.apple.com/safari/">alternatives</a>.
    </p>


    <br/>
    <h3>Why is all the site in english ?</h3>
    <p>
        English is the language civilized people speak on the internet. Get used to it.
    </p>

</div>


{% endblock %}