{% extends "main.html" %}

{% block title %}
   {{cal_student_profile}} | Gehol Importer
{% endblock %}

{% block content %}

    <div class="span-15">

      <h3>We fetched some information from the <a href="{{gehol_url}}">URL</a> you gave us.</h3>
      We found the schedule for the following profile:<br/>
      <div style="padding-left:32px;padding-top:16px;text-align:center;">

        <h3> <em>{{cal_student_profile}}</em> </h3> 
        <i>Faculté : {{cal_faculty}}</i> <br/>
      </div>

      <br/><br/>      <br/><br/>

      <!-- there will only be one exam session active at one time so -->
      {% if exam_session %}
        <h3>Three calendars can be generated. Pick what you need.</h3>
      {% else %}
        <h3>Two calendars can be generated. Pick what you need.</h3>
      {% endif %}


      <div class="box" style="text-align:center">
        <h4><a href="{{ical_q1_url}}">{{ical_q1_url_title}}.ics</a></h4>
        <div class="quiet" style="font-style:italic;"> First term : {{q1_span}}</div>
      </div>


      <div class="box" style="text-align:center">
        <h4><a href="{{ical_q2_url}}">{{ical_q2_url_title}}.ics</a></h4>
        <div class="quiet" style="font-style:italic;"> Second term : {{q2_span}}</div>
      </div>

      {% if exam_session %}
        {% if exam_session.info_found %}
          <div class="box" style="text-align:center">
           <h4><a href="{{exam_session.ical_url}}">{{exam_session.ical_url_title}}.ics</a></h4>
           <div class="quiet" style="font-style:italic;">
              {{exam_session.session_name|capfirst}} examinations session : {{exam_session.readable_weekspan_string}}
           </div>
          </div>


        {% else %}
          <div class="box" style="text-align:center">
            <h4>We tried to find your {{ exam_session.session_name|capfirst }} exams session, but it yielded no result</h4>
            <div class="quiet" style="font-style:italic;">
              Maybe your faculty isn't using that system yet.
            </div>
          </div>
        {% endif %}

      {% endif %}



      <br/><br/>

      <p>
        Clicking one of those links will start the download of
        an <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a>
        file with events for this course.
        iCalendar files can be opened with
        Apple iCal, Microsoft Outlook and Mozilla Sunbird. 
      </p>
      <p>
        Alternatively, you can also copy this link and add it 
        as a 
        <a href="/questions#subscribe">live url subscription</a> in Google
        Calendar and Apple iCal. 
      </p>

      <p>
        <strong>Important reminder :</strong> The files you
        download and import from this service are 
        <a href="/questions#files">frozen snapshots</a>
        taken from the GeHoL service.
        <strong>To be notified of schedule changes, don't forget
          to check your official faculty announcements.</strong>
      </p>

    <!-- closing span-15 -->
    </div>
{% endblock %}
